In [5]:
import json
def get_db_config():
    with open("config_a.json", "r") as config_file:
        db_config = json.load(config_file)
    return db_config

In [17]:
import mysql.connector
db_config = get_db_config()

conn = mysql.connector.connect(
    host=db_config['host'],
    user=db_config['user'],
    password=db_config['password'],
    database=''
)

In [20]:
try:
    db_name=db_config['database']
except:
    db_name=''

try:
    port=db_config['port']
except:
    port='3306'

In [21]:
import mysql.connector
db_config = get_db_config()

conn = mysql.connector.connect(
    host=db_config['host'],
    user=db_config['user'],
    password=db_config['password'],
    database=db_name,
    port=port
)

In [22]:
# import pandas as pd
# pd.read_sql('SELECT * FROM `OEE_Metrics` LIMIT 100',conn)

/tmp/ipykernel_5411/699397374.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('SELECT * FROM `OEE_Metrics` LIMIT 100',conn)

,Dates,Shift,Hours,Downtime_Minutes,Plan,Actual,Times,Minutes,Run_Time,Availability,...,SKU_2678F,SKU_679L,SKU_HB80RL,SKU_HD80L,SKU_679,SKU_763F,SKU_763H,SKU_763,SKU_763NC,SKU_97014922
0,2022-10-28 00:00:00.0000000,1,4,0.0,266.0,231.0,1.0,60,60.0,1.000000,...,0,0,0,0,0,0,0,0,0,0
1,2022-10-28 00:00:00.0000000,1,5,0.0,266.0,170.0,1.0,60,60.0,1.000000,...,0,0,0,0,0,0,0,0,0,0
2,2022-10-28 00:00:00.0000000,1,6,0.0,266.0,258.0,1.0,60,60.0,1.000000,...,0,0,0,0,0,0,0,0,0,0
3,2022-10-28 00:00:00.0000000,1,7,5.0,266.0,250.0,1.0,60,55.0,0.916667,...,0,0,0,0,0,0,0,0,0,0
4,2022-10-28 00:00:00.0000000,1,8,0.0,266.0,190.0,1.0,60,60.0,1.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-11-03 00:00:00.0000000,3,6,0.0,532.0,384.0,2.0,60,60.0,1.000000,...,1.0,0,0,0,0,0,0,0,0,0
96,2022-11-03 00:00:00.0000000,3,7,0.0,532.0,404.0,2.0,60,60.0,1.000000,...,1.0,0,0,0,0,0,0,0,0,0
97,2022-11-03 00:00:00.0000000,3,8,0.0,532.0,388.0,2.0,60,60.0,1.000000,...,1.0,0,0,0,0,0,0,0,0,0
98,2022-11-03 00:00:00.0000000,1,1,6.0,532.0,384.0,2.0,60,54.0,0.900000,...,1.0,0,0,0,0,0,0,0,0,0
99,2022-11-03 00:00:00.0000000,1,2,7.0,532.0,440.0,2.0,60,53.0,0.883333,...,1.0,0,0,0,0,0,0,0,0,0

In [5]:
sql='select * from aaa;'
sql.split(' ')[0]

'select'

In [6]:
sql[-1]

';'

In [7]:
import os
os.environ["host"] = "18.235.243.152"
os.environ["user"] = "golgix"
os.environ["password"] = "preciseV5"

## optional 
os.environ["database"] = "broan"
os.environ["port"] = "3306"

In [1]:
import os
os.environ["host"]

'18.235.243.152'